.header{
    background-color: #03A9F4 ;
    color: #FFFFFF;
    max-width: 100% !important;
    padding: 50px;
    h2{
        color: #FFFFFF;
        font-size: 26px;
        text-align: center;
        font-family:'Courier New', Courier, monospace;
    }
}